# ---------- Ortam değişkenleri / GİZLİ BİLGİLER ----------
.env
.env.*
!.env.example
*.pem
*.key

# ---------- Python / Backend ----------
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

# ---------- Veritabanı dosyaları ----------
*.db
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
*.db-journal

# ---------- Flutter / Dart ----------
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
coverage/

# ---------- Android ----------
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
*.jks
*.keystore

# ---------- iOS ----------
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Runner/GeneratedPluginRegistrant.*
*.p8
*.p12
*.mobileprovision

# ---------- Build çıktıları ----------
*.apk
*.aab
*.ipa

# ---------- Editör / İşletim sistemi ----------
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# ---------- Loglar ----------
*.log
npm-debug.log*
yarn-error.log*

# ---------- Ofis geçici / kilit dosyaları ----------
~$*
.~lock.*#
*.tmp

data\unmatched_report.txt

# ---------- IDE ----------
.idea/
*.iml

#-----------TEST FOTO-------
backend/tests/fixtures/vision/images/*
!backend/tests/fixtures/vision/images/README.md