# Backend
SECRET_KEY=degistir-bunu-rastgele-uzun-bir-string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

DEBUG=true

DATABASE_URL=sqlite:///./kalori.db
MONGODB_URI=#
MONGODB_DB_NAME=kalori

# Dış servisler
OPENFOODFACTS_BASE_URL=https://world.openfoodfacts.org
GROQ_API_KEY=#gsk_xxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=llama-3.1-8b-instant

PANTRY_CONFIDENCE_DAYS=7
PANTRY_UNKNOWN_WEIGHT=0.4